header.header
	form.search-bar-container(action="", class="")
		.searchbox(class="w-full relative cursor-pointer") 
			input#search-btn(type="text", class="searchinput", placeholder="Tìm kiếm...", class="px-4 py-2 rounded bg-Neutral-White shadow-lg w-full cursor-pointer")
			.search-icon(class="absolute top-2/4 -translate-y-2/4 right-0 pr-5 text-Primary-Primary_01")
				i.fa-sharp.fa-regular.fa-magnifying-glass
	//- .header-bar-mobile
	//- 	.header-bar 
	//- 		i.fa-solid.fa-bars
	//- .header-search 
	//- 	i.fa-regular.fa-magnifying-glass

	.header-nav-mobile(class="block lg:hidden")
		ul(class="flex items-center text-white")
			li
				a(href="#") Home
			li
				a(href="#") Credo
			li
				a(href="#") About us
			li
				a(href="#") Industries we serve
			li
				a(href="#") News
			li
				a(href="#") Sustainability
			li
				a(href="#") Careers
			li
				a(href="#") Contact