section.home-2(class="section-py relative" setBackground="./img/bg.png")
	.home-2-frame(class="absolute right-0 md:rem:bottom-[109px] bottom-[-0.3rem]")
		.image(class="xl:rem:w-[231px] lg:rem:w-[150px] w-20")
			a(href="#" class="img-ratio ratio:pt-[403_231]")
				img(src="./img/Frame-home-2.png", alt="") 
	.container 
		.home-2-main(class="flex flex-col md:flex-row items-center")
			.col-left(class="md:w-6/12 w-full")
				.image 	
					a(href="#" class="img-ratio ratio:pt-[800_680] rounded-3xl zoom-img lozad")
						img(src="./img/1.jpg", alt="") 
			.col-right(class="md:w-6/12 w-full lg:px-25 md:px-10")
				.home-2-content(class="flex flex-col justify-center items-center text-center")
					.logo(class="rem:w-[114px] md:mb-8 mb-0")
						a(href="#" class="img-ratio")
							img(src="./img/logo-primary.png", alt="") 
					.home-2-info 
						h2(class="title-48 mb-6") 
							|Happy pets, 
							br
							|happy humans
						.format-content(class="text-Neutral-950 font-normal")
							p Embarking on a new chapter in a different country is amazing, and we know your pet is an integral part of that adventure. 
							p With over a decade of experience and connections to more than 130 destinations worldwide, we’re not just experts; we’re your dedicated partners in this journey
						.home-2-btn(class="inline-flex mt-8")
							a(href="#" class="button-primary orange")
								span Explore More