section.destination-4(class="section-py")
	.container 
		.destination-4-main(class="flex flex-col lg:flex-row lg:rem:gap-[124px] gap-base")
			.col-left(class="lg:rem:w-[680px] w-full")
				.top 
					h2(class="title-48 mb-6") Important Notes
					.desc(class="text-xl font-normal text-Neutral-950 mb-6") There are also some special veterinary breeds (for brachycephalic or snub-nosed breeds like Pugs, Bulldogs or Persians)
				.bottom 
					.image 
						a(href="#" class="img-ratio ratio:pt-[453_680] lozad zoom-img rounded-3xl")
							img(src="./img/1.jpg", alt="") 
			.col-right(class="lg:w-[calc(100%-35.41666666666667rem-6.458333333333334rem)] w-full flex flex-col gap-5")
				.item(class="bg-Primary-3 rounded-3xl px-5 py-6 flex gap-5")
					.icon(class="w-10 flex-shrink-0") 
						a(href="#" class="img-ratio lozad")
							img(src="./img/icon-1.svg", alt="") 
					.content 
						h3(class="text-xl font-semibold text-Primary-1 mb-4") Extra Crate Space 
						.desc(class="text-Neutral-950 font-normal") These breeds require 10% more space for better airflow to keep them comfortable.
				.item(class="bg-Primary-3 rounded-3xl px-5 py-6 flex gap-5")
					.icon(class="w-10 flex-shrink-0") 
						a(href="#" class="img-ratio lozad")
							img(src="./img/icon-2.svg", alt="") 
					.content 
						h3(class="text-xl font-semibold text-Primary-1 mb-4") Extra Crate Space 
						.desc(class="text-Neutral-950 font-normal") These breeds require 10% more space for better airflow to keep them comfortable.
				.item(class="bg-Primary-3 rounded-3xl px-5 py-6 flex gap-5")
					.icon(class="w-10 flex-shrink-0") 
						a(href="#" class="img-ratio lozad")
							img(src="./img/icon-3.svg", alt="") 
					.content 
						h3(class="text-xl font-semibold text-Primary-1 mb-4") Extra Crate Space 
						.desc(class="text-Neutral-950 font-normal") These breeds require 10% more space for better airflow to keep them comfortable.
				.item(class="bg-Primary-3 rounded-3xl px-5 py-6 flex gap-5")
					.icon(class="w-10 flex-shrink-0") 
						a(href="#" class="img-ratio lozad")
							img(src="./img/icon-4.svg", alt="") 
					.content 
						h3(class="text-xl font-semibold text-Primary-1 mb-4") Extra Crate Space 
						.desc(class="text-Neutral-950 font-normal") These breeds require 10% more space for better airflow to keep them comfortable.