section.destination-6(class="section-py relative" setBackground="./img/bg-faq.png")
	.frame-1(class="absolute bottom-0 left-2")
		.image(class="xl:rem:w-[71px] w-[1.69rem]")
			a(href="#" class="img-ratio ratio:pt-[164_71]")
				img(src="./img/faq-1.png", alt="")
	.frame-2(class="absolute bottom-0 rem:left-[83px]")
		.image(class="rem:w-[84px]")
			a(href="#" class="img-ratio ratio:pt-[164_71]")
				img(src="./img/faq-2.png", alt="")
	.frame-3(class="absolute bottom-0 rem:right-[102px]")
		.image(class="rem:w-[84px]")
			a(href="#" class="img-ratio ratio:pt-[164_71]")
				img(src="./img/faq-3.png", alt="")
	.frame-4(class="absolute bottom-0 right-2")
		.image(class="rem:w-[71px]")
			a(href="#" class="img-ratio ratio:pt-[164_71]")
				img(src="./img/faq-4.png", alt="")
	.container 
		h2(class="title-48 text-center !text-Neutral-White mb-6") FAQs
		.wrapper(class="flex flex-col lg:flex-row lg:rem:gap-[106px] gap-base") 
			.col-left(class="lg:rem:w-[684px] w-full")
				.item(data-id="1")
					.title 1. How long does the pet relocation process take?
				.item(data-id="2") 
					.title 2. What documents are required for pet relocation?
				.item(data-id="3")
					.title 3. How do you ensure my pet’s safety during the journey?
				.item(data-id="4") 
					.title 4. Do you offer services for pets with special needs?
			.col-right(class="lg:w-[calc(100%-35.625rem-5.520833333333334rem)] w-full")
				.content(class="bg-Primary-3 rounded-3xl p-8" data-id="1")
					.desc(class="text-Neutral-950 font-normal") Typically, the process can take up to 12 months, depending on your move and any required quarantine periods. The sooner you get in touch the better!
				.content(class="bg-Primary-3 rounded-3xl p-8" data-id="2")
					.desc(class="text-Neutral-950 font-normal") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, dolores nisi! Blanditiis minus molestiae repellendus quia autem cum, beatae ullam totam ducimus voluptatum nam similique officia suscipit odit assumenda quasi.
				.content(class="bg-Primary-3 rounded-3xl p-8" data-id="3")
					.desc(class="text-Neutral-950 font-normal") Typically, the process can take up to 12 months, depending on your move and any required quarantine periods. The sooner you get in touch the better!
				.content(class="bg-Primary-3 rounded-3xl p-8" data-id="4")
					.desc(class="text-Neutral-950 font-normal") Typically, the process can take up to 12 months, depending on your move and any required quarantine periods. The sooner you get in touch the better!