section.destination-7(class="section-py")
	.container-fluid
		h2(class="title-48 text-center mb-6") Photo Gallery
		.wrapper(class="grid grid-cols-2 gap-5")
			.col-left
				.destination-main(class="grid lg:grid-cols-2 grid-cols-1 gap-5") 
					.image-left(class="")
						a(href="#" class="img-ratio ratio:pt-[612_445] lozad rounded-3xl zoom-img")
							img(src="./img/1.jpg", alt="") 
<<<<<<< HEAD
					.image-right(class="grid grid-cols-2 gap-5") 
						.top(class="col-span-2")
=======
					.image-right(class="lg:w-2/4 ") 
						.top(class="w-2/4 lg:w-full")
>>>>>>> b76e169b0317539d0a8cf5c7b14f8d11cc37762b
							a(href="#" class="img-ratio ratio:pt-[297_445] lozad rounded-3xl zoom-img")
								img(src="./img/1.jpg", alt="") 
						.bottom(class="col-span-2")
							a(href="#" class="img-ratio ratio:pt-[297_445] lozad rounded-3xl zoom-img")
								img(src="./img/1.jpg", alt="") 
			.col-right
				.destination-main(class="grid lg:grid-cols-2 grid-cols-1 gap-5") 
					.image-left(class="")
						a(href="#" class="img-ratio ratio:pt-[612_445] lozad rounded-3xl zoom-img")
							img(src="./img/1.jpg", alt="") 
					.image-right(class="grid grid-cols-2 gap-5") 
						.top(class="col-span-2")
							a(href="#" class="img-ratio ratio:pt-[297_445] lozad rounded-3xl zoom-img")
								img(src="./img/1.jpg", alt="") 
						.bottom(class="col-span-2")
							a(href="#" class="img-ratio ratio:pt-[297_445] lozad rounded-3xl zoom-img")
								img(src="./img/1.jpg", alt="") 
