section.home-5(class="bg-Primary-3 section-py")
	.container-fluid
		h2(class="title-48 text-center mb-base") Additional Services
		.swiper 
			.swiper-wrapper 
				.swiper-slide 
					.item 
						.image(class="relative")
							a(href="#" class="img-ratio rounded-2xl zoom-img lozad")
								img(src="./img/1.jpg", alt="") 
							.content 
								h3(class="rem:text-[26px] font-medium text-Neutral-White") Luxury Comfort Stop
				.swiper-slide 
					.item 
						.image(class="relative")
							a(href="#" class="img-ratio rounded-2xl zoom-img lozad")
								img(src="./img/1.jpg", alt="") 
							.content 
								h3(class="rem:text-[26px] font-medium text-Neutral-White") Luxury Comfort Stop
				.swiper-slide 
					.item 
						.image(class="relative")
							a(href="#" class="img-ratio rounded-2xl zoom-img lozad")
								img(src="./img/1.jpg", alt="") 
							.content 
								h3(class="rem:text-[26px] font-medium text-Neutral-White") Luxury Comfort Stop
				.swiper-slide 
					.item 
						.image(class="relative")
							a(href="#" class="img-ratio rounded-2xl zoom-img lozad")
								img(src="./img/1.jpg", alt="") 
							.content 
								h3(class="rem:text-[26px] font-medium text-Neutral-White") Luxury Comfort Stop