section.home-8(class="section-py relative" setBackground="./img/bg.png")
	.home-4-bg(class="absolute rem:bottom-[53px] left-0")
		.image(class="xl:rem:w-[230px] lg:rem:w-[180px]")
			a(href="#" class="img-ratio ratio:pt-[272_230]")
				img(src="./img/Frame-home-8.png", alt="") 
	.container 
		.home-8-main(class="flex flex-col lg:flex-row items-center")
			.col-left(class="lg:rem:w-[720px] w-full")
				.heading(class="text-center mb-base xl:rem:pr-[140px] lg:pr-20 xl:pl-25 md:pl-10 pl-0")
					h2(class="title-48 mb-6") Why choose us 
					.desc(class="text-Neutral-950 font-normal") With expert advice and up-to-date regulation insights – we’re here to make that happen. 
					.more(class="inline-flex mt-base")
						a(href="#" class="button-primary orange")
							span Explore More
			.col-right(class="lg:w-[calc(100%-25rem)] w-full")
				.home-8-list(class="grid md:grid-cols-2 gap-6")
					.item(class="p-6 bg-Neutral-White rounded-2xl lg:rem:h-[288px] h-auto")
						.icon(class="rem:w-[64px]")
							a(href="#" class="img-ratio")
								img(src="./img/icon_1.svg", alt="") 
						.content(class="text-Neutral-950")
							.info 
								.desc(class="font-normal pb-4 border-b border-b-[#292929] border-opacity-40") Your pets come first, ensured safe, healthy, and happy.
								h4(class="font-medium pt-4") No Pet Left Behind
					.item(class="p-6 bg-Neutral-White rounded-2xl lg:rem:h-[288px] h-auto")
						.icon(class="rem:w-[64px]")
							a(href="#" class="img-ratio")
								img(src="./img/icon_2.svg", alt="") 
						.content(class="text-Neutral-950")
							.info 
								.desc(class="font-normal pb-4 border-b border-b-[#292929] border-opacity-40") Your pets come first, ensured safe, healthy, and happy.
								h4(class="font-medium pt-4") No Pet Left Behind
					.item(class="p-6 bg-Neutral-White rounded-2xl lg:rem:h-[288px] h-auto")
						.icon(class="rem:w-[64px]")
							a(href="#" class="img-ratio")
								img(src="./img/icon_3.svg", alt="") 
						.content(class="text-Neutral-950")
							.info 
								.desc(class="font-normal pb-4 border-b border-b-[#292929] border-opacity-40") Multilingual Team - International pet travel staffs are native English speakers. Also can speak many languages: French, Russian, Vietnamese,...
								h4(class="font-medium pt-4") No Pet Left Behind
					.item(class="p-6 bg-Neutral-White rounded-2xl lg:rem:h-[288px] h-auto")
						.icon(class="rem:w-[64px]")
							a(href="#" class="img-ratio")
								img(src="./img/icon_4.svg", alt="") 
						.content(class="text-Neutral-950")
							.info 
								.desc(class="font-normal pb-4 border-b border-b-[#292929] border-opacity-40") Our team coordinates with top veterinarians to manage complex cases expertly.
								h4(class="font-medium pt-4") No Pet Left Behind