extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/modules/destination/destination-1/destination-1
	include ../components/modules/destination/destination-2/destination-2
	include ../components/modules/destination/destination-3/destination-3
	include ../components/modules/destination/destination-4/destination-4
	include ../components/modules/destination/destination-5/destination-5
	include ../components/modules/destination/destination-6/destination-6
	include ../components/modules/destination/destination-7/destination-7
	include ../components/modules/destination/destination-8/destination-8