section.home-1(class="md:block hidden  relative")
	.home-1-slide(class="relative")
		.swiper.swiper-home-banner 
			.swiper-wrapper 
				.swiper-slide
					.home-1-banner(class="relative")
						a(href="#" class="img-ratio ratio:pt-[860_1920] lozad")
							img(src="./img/banner.png", alt="") 
						.home-1-content(class="absolute xl:rem:bottom-[260px] lg:bottom-[4.5rem] rem:left-[260px] rem:w-[600px] z-30")
							h3(class="text-xl font-normal text-Primary-3 mb-6") We ensure your pet’s journey is as enjoyable as your own. 
							.title(class="")
								h1 Your Pet, Your World.
							.home-1-button(class="inline-flex")
								+ButtonPrimary("Learn More") 
				.swiper-slide
					.home-1-banner(class="relative")
						a(href="#" class="img-ratio ratio:pt-[860_1920] lozad")
							img(src="./img/banner.png", alt="") 
						.home-1-content(class="absolute xl:rem:bottom-[260px] lg:bottom-[4.5rem] rem:left-[260px] rem:w-[600px] z-30")
							h3(class="text-xl font-normal text-Primary-3 mb-6") We ensure your pet’s journey is as enjoyable as your own. 
							.title(class="xl:rem:text-[92px] lg:text-64 font-bold font-primary text-Primary-3 mb-15")
								h1 Your Pet, Your World.
							
							.home-1-button(class="inline-flex")
								+ButtonPrimary("Learn More") 
				.swiper-slide
					.home-1-banner(class="relative")
						a(href="#" class="img-ratio ratio:pt-[860_1920] lozad")
							img(src="./img/banner.png", alt="") 
						.home-1-content(class="absolute xl:rem:bottom-[260px] lg:bottom-[4.5rem] rem:left-[260px] rem:w-[600px] z-30")
							h3(class="text-xl font-normal text-Primary-3 mb-6") We ensure your pet’s journey is as enjoyable as your own. 
							h1(class="xl:rem:text-[92px] lg:text-64 font-bold font-primary text-Primary-3 mb-15") Your Pet, Your World.
							.home-1-button(class="inline-flex")
								+ButtonPrimary("Learn More") 
		.wrap-button-slide
			.btn.btn-prev.btn-sw-1
			.btn.btn-next.btn-sw-1
section.home-1-mobile(class="block md:hidden relative")
	.swiper.swiper-home-banner-mobile 
		.swiper-wrapper 
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/banner.png", alt="") 
					.home-1-content(class="absolute top-10 px-4 z-20 text-Neutral-White") 
						h1(class="title-64 font-medium text-Neutral-White ") 
							| Tỏa sáng với vẻ đẹp
							br 
							| hoàn hảo từ từng chi tiết
						.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
						.home-1-btn(class="inline-flex")
							a(href="#" class="button-primary orange")
								span Learn more
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="https://picsum.photos/1600/900?random=1", alt="") 
					.home-1-content(class="absolute top-10 px-4 z-20 text-Neutral-White") 
						h1(class="title-64 font-medium text-Neutral-White ") 
							| Tỏa sáng với vẻ đẹp
							br 
							| hoàn hảo từ từng chi tiết
						.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
						.home-1-btn(class="inline-flex")
							a(href="#" class="button-primary orange")
								span Learn more
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/banner.png", alt="") 
					.home-1-content(class="absolute top-10 px-4 z-20 text-Neutral-White") 
						h1(class="title-64 font-medium text-Neutral-White ") 
							| Tỏa sáng với vẻ đẹp
							br 
							| hoàn hảo từ từng chi tiết
						.desc(class="font-normal mt-6 mb-15") Vẻ đẹp tỏa sáng từ sự tinh tế, Dencos Luxury giúp bạn khám phá phiên bản rạng ngời nhất của chính mình
						.home-1-btn(class="inline-flex")
							a(href="#" class="button-primary orange")
								span Learn more