section.destination-1
	.destination-1-banner 
		a(href="#" class="img-ratio ratio:pt-[860_1920] lozad")
			img(src="./img/1.jpg", alt="") 
		.content(class="absolute xl:rem:w-[1152px] w-full mx-auto top-2/4 -translate-y-2/4 left-2/4 -translate-x-2/4 z-2")
			h2(class="lg:rem:text-[72px] md:rem:text-[52px] text-5xl font-semibold text-center mb-2 text-Neutral-White") The United States Of America
			.global-breadcrumb
				.container
					nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
						p
							a(href="#") Trang chủ
							span(class="separator")  | 
							span(class="last") Về chúng tôi