footer
	.tool-fixed-cta
		.btn.button-to-top
			.btn-icon
				.icon 
		a.btn.btn-content(class="bg-red-400")
			.btn-icon
				.icon
					i.fa-light.fa-location-dot
			.content Chi nhánh
		a.btn.btn-content(class="bg-orange-500")
			.btn-icon
				.icon
					i.fa-light.fa-phone
			.content 1900 2273 – (028) 7100 0001
		.btn.btn-content.btn-social
			.btn-icon
				.icon
					i.fa-light.fa-messages
			.content
				ul 
					li 
						a(href="") 
							img(src="./img/mess.svg", alt="facebook", class="")
					li 
						a(href="") 
							img(src="./img/mess.svg", alt="zalo", class="")
					li 
						a(href="") 
							img(src="./img/mess.svg", alt="facebook", class="")