section.destination-5(class="section-py" setBackground="./img/bg.png")
	.container 
		.destination-5-main(class="flex flex-col lg:flex-row items-center lg:rem:gap-[120px] gap-base")
			.col-left(class="lg:rem:w-[680px] w-full")
				h2(class="title-48 mb-6") IATA-Compliant Crates
				.format-content 
					ul 
						li Size: Spacious enough for your pet to stand, turn, and lie down comfortably.
						li Size: Spacious enough for your pet to stand, turn, and lie down comfortably.
						li Size: Spacious enough for your pet to stand, turn, and lie down comfortably.
						li Size: Spacious enough for your pet to stand, turn, and lie down comfortably.
						li Size: Spacious enough for your pet to stand, turn, and lie down comfortably.
			.col-right(class="lg:w-[calc(100%-35.41666666666667rem-6.25rem)] w-full")
				.image(class="relative")
					a(href="#" class="img-ratio lozad zoom-img rounded-3xl")
						img(src="./img/1.jpg", alt="") 
					.image-partner(class="absolute bottom-5 left-5 py-3 px-6 bg-Neutral-White rounded-xl  ")
						.img(class="rem:w-[104px]")
							a(href="#" class="img-ratio ratio:pt-[67_104]")
								img(src="./img/partner.png", alt="") 