section.home-4(class="bg-Primary-1 relative section-py")
	.home-4-bg(class="absolute rem:bottom-[53px] left-0")
		.image(class="xl:rem:w-[198px] lg:rem:w-[100px] w-20")
			a(href="#" class="img-ratio ratio:pt-[234_198]")
				img(src="./img/Frame-home-4.png", alt="") 
	.container 
		.home-4-main(class="flex flex-col md:flex-row items-center xl:rem:gap-[213px] md:gap-base gap-5")
			.col-left(class="xl:rem:w-[387px] md:w-2/4 w-full md:pl-20")
				h2(class="title-48 !text-Neutral-White mb-base") Our Services
				.home-4-item(class="flex flex-col md:gap-6 gap-2")
					.title(data-id="1") Door-to-door
					.title(data-id="2") Door-to-door
					.title(data-id="3") Door-to-door
					.title(data-id="4") Door-to-door
			.col-right(class="xl:w-[calc(100%-20.15625rem-11.09375rem)] md:w-2/4 w-full")
				.swiper 
					.swiper-wrapper 
						.swiper-slide(data-id="1")
							.item(class="xl:rem:w-[762px] w-full")
								.image(class="relative") 
									a(href="#" class="img-ratio ratio:pt-[507_762] lozad rounded-3xl")
										img(src="./img/1.jpg", alt="") 
									.content(class="absolute bottom-9 p-6 text-Neutral-White z-12") 
										.desc(class="font-normal mb-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
										.more(class="inline-flex")
											a(href="#" class="button-primary orange")
												span Explore More
						.swiper-slide(data-id="2") 
							.item(class="xl:rem:w-[762px] w-full")
								.image(class="relative") 
									a(href="#" class="img-ratio ratio:pt-[507_762] lozad rounded-3xl")
										img(src="./img/1.jpg", alt="") 
									.content(class="absolute bottom-9 p-6 text-Neutral-White z-12") 
										.desc(class="font-normal mb-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
										.more(class="inline-flex")
											a(href="#" class="button-primary orange")
												span Explore More
						.swiper-slide(data-id="3") 
							.item(class="xl:rem:w-[762px] lg:w-full")
								.image(class="relative") 
									a(href="#" class="img-ratio ratio:pt-[507_762] lozad rounded-3xl")
										img(src="./img/1.jpg", alt="") 
									.content(class="absolute bottom-9 p-6 text-Neutral-White z-12") 
										.desc(class="font-normal mb-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
										.more(class="inline-flex")
											a(href="#" class="button-primary orange")
												span Explore More
						.swiper-slide(data-id="4") 
							.item(class="xl:rem:w-[762px] w-full")
								.image(class="relative") 
									a(href="#" class="img-ratio ratio:pt-[507_762] lozad rounded-3xl")
										img(src="./img/1.jpg", alt="") 
									.content(class="absolute bottom-9 p-6 text-Neutral-White z-12") 
										.desc(class="font-normal mb-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
										.more(class="inline-flex")
											a(href="#" class="button-primary orange")
												span Explore More
					.pagination(class="flex items-center justify-center gap-4 mt-6")
				