section.destination-2(class="section-py relative" setBackground="./img/bg.png")
	.home-2-frame(class="absolute right-0 bottom-0")
		.image(class="xl:rem:w-[231px] lg:rem:w-[150px] w-20")
			a(href="#" class="img-ratio ratio:pt-[403_231]")
				img(src="./img/Frame-home-2.png", alt="") 
	.container
		h2(class="title-48 mb-6 text-center") Country Introduction
		.format-content(class="text-center")
			p In need of a trusted ally for navigating the United States’ pet travel regulations? As you prepare for your new life in the ‘land of opportunity’, you can count on us to make your pet’s journey as seamless as possible. From vaccination requirements to USDA endorsements, we’ve got all the bases covered.
			p Our internationally accredited team is well-versed in the U.S.’s specific pet import rules — offering you the peace of mind you need during this transitional period! Take a look at our guide below or chat to a member of our team to chat through your pet relocation needs!
		.more-btn(class="flex-center mt-6")
			.more(class="inline-flex")
				a(href="#" class="button-primary orange")
					span Get in touch !