section.destination-3(class="section-py" setBackground="./img/bg-primary.png")
	.container 
		h2(class="title-48 text-center !text-Neutral-White") Policies
		.wrap(data-toggle="tabslet").destination-3-link 
			ul.tabslet-tab
				li.active 
					a(href="#tab1") USA Country Requirements for Import of Dogs
				li 
					a(href="#tab2") USA Country Requirements for Import of Dogs
			.tabslet-content.active#tab1
				.destination-3-box(class="bg-Primary-3 lg:rem:py-[33px] py-10 lg:px-20 px-5  rounded-[32px]")
					.scroll-wrapper(class="relative")
						-for(var i = 0; i < 10; i++)
							.item(class="flex flex-col md:flex-row gap-5 p-5")
								.number(class="rem:w-[52px] flex-shrink-0 text-2xl font-bold text-Primary-2") 01
								.content(class="rem:text-[16px] font-normal text-Neutral-950")
									.desc In need of a trusted ally for navigating the United States’ pet travel regulations? As you prepare for your new life in the ‘land of opportunity’, you can count on us to make your pet’s journey as seamless as possible. From vaccination requirements to USDA endorsements, we’ve got all the bases covered.
			.tabslet-content#tab2
				.destination-3-box(class="bg-Primary-3 lg:rem:py-[33px] py-10 lg:px-20 px-5  rounded-[32px]")
					.scroll-wrapper(class="relative")
						-for(var i = 0; i < 10; i++)
							.item(class="flex flex-col md:flex-row gap-5 p-5")
								.number(class="rem:w-[52px] flex-shrink-0 text-2xl font-bold text-Primary-2") 02
								.content(class="rem:text-[16px] font-normal text-Neutral-950")
									.desc In need of a trusted ally for navigating the United States’ pet travel regulations? As you prepare for your new life in the ‘land of opportunity’, you can count on us to make your pet’s journey as seamless as possible. From vaccination requirements to USDA endorsements, we’ve got all the bases covered.
